Repository Rahix/avr-hal, pull requests merged in 2021-08, with the labels that each got.

#207 ravedude: Add autoreset logic for Arduino Leonardo
  ravedude/src/board.rs
Labels: ravedude

#179 arduino-hal, ravedude: Add support for the Adafruit Trinket
  .github/workflows/ci.yml
  Cargo.toml
  arduino-hal/Cargo.toml
  arduino-hal/src/clock.rs
  arduino-hal/src/lib.rs
  arduino-hal/src/port/mod.rs
  arduino-hal/src/port/trinket.rs
  examples/trinket/.cargo/config.toml
  examples/trinket/Cargo.toml
  examples/trinket/src/bin/trinket-blink.rs
  ravedude/src/board.rs
  ravedude/src/main.rs
Labels: board-support, mcu-support

#209 trinket: erase chip on upload
  ravedude/src/board.rs
Labels: bug, ravedude
