Repository Rahix/avr-hal, pull requests merged in 2021-05, with the labels that each got.

#180 minor amendment to SPI code
  avr-hal-generic/src/spi.rs
Labels: hal-generic

#178 Add refactored support for Sparkfun Pro Micro
  .github/workflows/ci.yml
  Cargo.toml
  arduino-hal/Cargo.toml
  arduino-hal/src/clock.rs
  arduino-hal/src/lib.rs
  arduino-hal/src/port/mod.rs
  arduino-hal/src/port/promicro.rs
  examples/sparkfun-promicro/.cargo/config.toml
  examples/sparkfun-promicro/Cargo.toml
  examples/sparkfun-promicro/src/bin/promicro-adc.rs
  examples/sparkfun-promicro/src/bin/promicro-blink.rs
  examples/sparkfun-promicro/src/bin/promicro-i2cdetect.rs
  examples/sparkfun-promicro/src/bin/promicro-spi-feedback.rs
  examples/sparkfun-promicro/src/bin/promicro-usart.rs
  ravedude/src/board.rs
Labels: mcu-support

#181 Follow-up to #178: Better reset instructions in ravedude
  ravedude/src/board.rs
  ravedude/src/main.rs
Labels: ravedude
