Repository Rahix/avr-hal, pull requests merged in 2022-05, with the labels that each got.

#263 Implement open drain output
  avr-hal-generic/src/port.rs
Labels: hal-api, hal-generic

#266 Fix delay inline assembly for new rust versions
  avr-hal-generic/src/delay.rs
Labels: bug, hal-generic

#267 add an example of how to use timer interrupts
  examples/arduino-uno/Cargo.toml
  examples/arduino-uno/src/bin/uno-timer.rs
Labels: examples
